<div class="container">
  <h2>Consolidated Table</h2>
  <p>contains the sample data:</p>            
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Id</th>
        <th>Stock</th>
        <th>Price</th>
        <th>BidPrice</th>
        <th>BidVolume</th>
        <th>OfferPrice</th>
        <th>OfferVolume</th>
      </tr>
    </thead>
    <!-- <tbody>
      <tr *ngFor="let data of dataList">
        <td>{{data.configId}}</td>
        <td>{{data.constant}}</td>
        <td>{{data.value}}</td>
        <td>{{data.editFlag}}</td>
      </tr>
    </tbody> -->
    <tbody>
      <tr *ngFor="let winner of winners">
        <td>{{winner.id}}</td>
        <td>{{winner.stock}}</td>
        <td>{{winner.price}}</td>
        <td>{{winner.BidPrice}}</td>
        <td>{{winner.BidVolume}}</td>
        <td>{{winner.OfferPrice}}</td>
        <td>{{winner.OfferVolume}}</td>
        
      </tr>
    </tbody>
  </table>
</div>
