<div class="center">
  You are authenticated....Welcome
  <strong>{{name}}</strong> !!!
  <br>
  <nav>
    <ul>
      <li>
        <a routerLink="table">Table</a>
      </li>
      <li>
        <a routerLink="dashboard">Board</a>
      </li>
      <li>
        <a routerLink="create">Create</a>
      </li>
      <li>
        <a routerLink="details">Details</a>
      </li>
      <li class="navbar-form  navbar-right">
        <a style=" cursor: pointer" (click)="LogOut()">LogOut</a>
      </li>

    </ul>
  </nav>
  <br>

  <h2>Select the Task ID to Evaluate</h2>

  <div>Task ID:
    <select [(ngModel)]="userName" (click)="getUserInfo()">
      <option value=""> select </option>
      <option *ngFor="let user of users" value="{{user.id}}"> {{user.id}} </option>
    </select>

    <div *ngIf="userName">
      <h3>{{result}}</h3>

    </div>
  </div>

  <router-outlet></router-outlet>
</div>